* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border-bottom: 1px solid #AAAAAA;
}

nav {
    display: inline-block;
    width: 25vw;
    vertical-align: top;
}

main {
    display: inline-block;
    width: 75vw;
}